#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #0000D0;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 1;
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
  font-style: oblique;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

.compose {
  float: right;
  height: 50px;
  margin-top: 15px;
  border-radius: 5px;
  color: navy;
  font-style: oblique;
  font-size: large;
}

.compose:hover {
  cursor: pointer;
  border: dodgerblue;
  border-style: outset;
}