.container h1 {
  margin-top: 0;
  margin-bottom: 15px;
}

.container form textarea {
  position: relative;
  width: 365px;
  padding: 5px;
}

.counter {
  float: right;
  padding-top: 5px;
}

.new-tweet {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  border-radius: 5px;
  background-color: #EAEAEA;
  padding: 10px 10px 10px 10px;
  height: 160px;
}

.new-tweet input {
  float:left;
}

.new-tweet p {
  float:left;
  margin-left: 30px;
  margin-top: 5px;
  color: #FF6347;

}

.tweet-list img {
  width: 40px;
  height: 40px;
  float: left;
}

.tweet span {
  margin-left: auto;
  color: black;
}

.tweet header {
  display: flex;
  flex-direction: row;
}

.tweet h2 {
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-bottom: transparent;
  line-height: 40px;
}

.tweet-content {
  background-color: white;
  width: 345px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.tweet-bottom img {
  float: right;
  margin-left: 10px;
  line-height:20px;
  height: 15px;
  width: 15px;
  visibility: hidden;

}

.tweet-list:hover footer .tweet-bottom img {
  visibility: visible;

}

.tweet-bottom {
  font-size: 70%;
}

.tweet {
  border-radius: 5px;
  background-color: #EAEAEA;
  padding: 10px 10px 0px 10px;
  margin-bottom: 20px;
}

.tweet-list div {
  padding: 10px;
  color: black;
}

.tweet-list {
  margin-left: 2em;
  margin-right: 2em;
  padding: 10px 10px 10px 10px;
  background-color: white;
}
